.about-row{
    display:flex;
    justify-content:center;
    gap:25px;
    padding-top:50px;
    flex-wrap:wrap;
}
.about-row img{
    width:220px;
    border-radius:40px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.about-text{
    max-width:1200px;
    margin:50px auto;
    text-align:center;
    color:#7a4b60;
    padding:0 20px;
}
.about-text h2{
    color:#C14279;
    font-size:32px;
}
.about-text p{
    font-size:18px;
    line-height:1.6;
    margin-top:10px;
}
.pink-line{
    width:100%;
    height:4px;
    background-color:rgba(196,55,112,0.5);
    margin:50px 0;
}
.influencer-section{
    max-width:1200px;
    margin:0 auto 50px auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:0 20px;
}
.video-side{
    position:relative;
    width:750px;
    max-width:100%;
    margin:0 auto;
}
.video-side img{
    width:100%;
    border-radius:25px;
    cursor:pointer;
    box-shadow:0 6px 16px rgba(0,0,0,0.2);
    display:block;
}
.play-btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:80px;
    color:white;
    background:rgba(0,0,0,0.5);
    border-radius:50%;
    width:100px;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.video-caption{
    font-family:'Poppins', sans-serif;
    font-size:22px;
    font-weight:600;
    color:#7a4b60;
    text-align:center;
    margin-top:15px;
}
.influencer-row{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4,minmax(220px,1fr));
    gap: 25px;
    align-items: start;
}
.influencer-card{
    text-align:center;
    width: 100%;
}
.influencer-card img{
    width:100%;
    height:330px;
    object-fit:cover;
    border-radius:40px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.influencer-card p{
    margin-top:8px;
    font-family:'Poppins', sans-serif;
    font-size:14px;
    color:#7a4b60;
}
.pink-line{
  width:100%;
  height:4px;
  background-color:rgba(196,55,112,0.5);
  margin:50px 0;
}