.hero{
  position:relative;
  height:330px;
}

.hero img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero h1{
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#ffffff;
  font-size:48px;
  font-weight:700;
  text-shadow:0 2px 8px rgba(0,0,0,.3);
}


.help{
  background:rgb(240, 204, 230);
  padding:90px 10%;
  text-align:center;
}

.help h2{
  font-size:32px;
  margin-bottom:60px;
  color:#b3135d;
}

.help-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:45px;
}

.help-item{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.help-circle{
  width:140px;
  height:140px;
  border-radius:50%;
  overflow:hidden;
}

.help-circle img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.help-item p{
  font-size:18px;
  margin-top:12px;
}


.contact{
  position:relative;
  padding:90px 10%;
  overflow:hidden;
}

.contact::before{
  content:"";
  position:absolute;
  inset:0;
  background:url('img/huda2.png') center/cover no-repeat;
  opacity:0.4;
  z-index:0;
}

.contact > *{
  position:relative;
  z-index:1;
}

.contact h2{
  text-align:center;
  font-size:32px;
  margin-bottom:70px;
  color:white;
}

.contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
}

.contact-text h3,
.contact-text p,
.contact-text li{
  color:white;
}

.contact-text ul{
  list-style:none;
  margin-top:20px;
}

.contact-text li{
  margin-bottom:12px;
}

 
.contact form label{
  display:block;
  margin-top:18px;
  color:rgb(13, 0, 10);
  font-weight:600;
}

.contact form input,
.contact form textarea{
  width:100%;
  padding:14px;
  margin-top:6px;
  border-radius:10px;
  border:1px solid #110108;
  outline:none;
}

.contact form textarea{ height:130px; }

.contact form button{
  margin-top:35px;
  width:100%;
  padding:16px;
  border:none;
  border-radius:999px;
  background:linear-gradient(135deg,#38081d,#ff4fa7);
  color:rgb(247, 247, 247);
  font-size:17px;
  font-weight:600;
  cursor:pointer;
}


@media(max-width:900px){
  .help-grid{ grid-template-columns:repeat(2,1fr); }
  .contact-grid{ grid-template-columns:1fr; }
}

@media(max-width:600px){
  .hero h1{
    font-size:36px;
  }
}

@media(max-width:500px){
  .help-grid{ grid-template-columns:1fr; }
} 