body{
    background-color: #F8D8E8;
    font-family: 'Verdana' , sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFF8FC;
    color: black;
    padding: 12px 40px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 27px;
    color: black;
}
.nav-right a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.nav-right a:hover{
    color: #C14279;
    transition: 0.2s;
    transform: scale(1.07);

}
.logo img{
   height:40px;
   width: auto;
   object-fit: contain;
}
.nav-right img{
    width: auto;
    height: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.signup{
    max-width: 420px;
    width: 100%;
    margin: 100px 60px;
    color: #C14279;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color:  #fef2f6;
    border-radius: 10px;
}
.signup h1{
    border-radius: px;
    color: #C14279;
    padding: 10px;
    border: #ffc5e2;
    text-align: center;
}
.signup form{
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 16px;
}
.signup input{
    border: 1px solid #ffb3dd;
    border-radius: 8px;
    padding: 10px 14px;
    background-color:  #fff;
    transition: 0.2s;
}
.signup input:focus{
    outline: none;
    border-color: ##C14279;
    box-shadow: 0 0 0 3px rgba(255,129,192,0.25);
}
.signup-button{
    padding: 12px 15px;
    margin-top: 15px;
    background:  linear-gradient(135deg, #C14279, #ff4fa7);
    border: none;
    color: #f8f8f5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.15s;
}
.signup-button:hover{
    transform: translateY(-1px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}