body{
    background-color: #f8f8f5;
    font-family: 'Arial' , sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f8f8f5;
    color: black;
    padding: 15px 40px;
    align-items: center;
}
.nav-left{
    display: flex;
    flex-direction: row;
    gap: 27px;
    color: black;
}
.nav-left a{
    color: black;
    text-decoration: none;
}
.logo img{
   height: 60px;
   width: auto;
   object-fit: contain;
}
.nav-right img{
    width: auto;
    height: 20px;
    cursor: pointer;
}
.starti {
    background: url(img/ch.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    object-fit: contain;
    color: #f8f8f5;
    text-align: center;
    line-height: 15px;
}
.starti button{
    padding: 10px 20px;
    background-color: #f8f8f5;
    border: rgb(182, 19, 19);
    border-radius: 10px;
    font-size: 15px;
    color: rgb(182, 19, 19);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.starti button:hover{
    transform: scale(1.05);
    background-color: #e2e2dd;
}